USE [master]
GO
/****** Object:  Database [SOAT]    Script Date: 23/12/2022 12:46:52 p. m. ******/
CREATE DATABASE [SOAT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SOAT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SOAT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SOAT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SOAT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SOAT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SOAT]
GO
/****** Object:  User [userColpatria]    Script Date: 23/12/2022 12:46:52 p. m. ******/
CREATE USER [userColpatria] FOR LOGIN [userColpatria] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [userColpatria]
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 23/12/2022 12:46:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ciudades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parametros]    Script Date: 23/12/2022 12:46:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametros](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Tipo] [varchar](10) NOT NULL,
	[Valor] [varchar](max) NULL,
 CONSTRAINT [PK_Parametros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Polizas]    Script Date: 23/12/2022 12:46:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polizas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTomador] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[PlacaAutomotor] [varchar](10) NOT NULL,
	[IdCiudad] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Polizas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tomador]    Script Date: 23/12/2022 12:46:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tomador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Documento] [varchar](20) NOT NULL,
	[Tipo] [varchar](10) NOT NULL,
	[Direccion] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Tomador] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ciudades] ON 

INSERT [dbo].[Ciudades] ([Id], [Nombre]) VALUES (1, N'BOGOTA')
INSERT [dbo].[Ciudades] ([Id], [Nombre]) VALUES (2, N'CARTAGENA')
INSERT [dbo].[Ciudades] ([Id], [Nombre]) VALUES (3, N'MEDELLIN')
SET IDENTITY_INSERT [dbo].[Ciudades] OFF
GO
SET IDENTITY_INSERT [dbo].[Parametros] ON 

INSERT [dbo].[Parametros] ([Id], [Nombre], [Tipo], [Valor]) VALUES (1, N'RESTRICCIONESCIUDADES', N'LISTA', N'2,3')
SET IDENTITY_INSERT [dbo].[Parametros] OFF
GO
SET IDENTITY_INSERT [dbo].[Polizas] ON 

INSERT [dbo].[Polizas] ([Id], [IdTomador], [FechaInicio], [FechaFin], [FechaVencimiento], [PlacaAutomotor], [IdCiudad], [Estado]) VALUES (1, 1, CAST(N'2022-01-01' AS Date), CAST(N'2023-01-01' AS Date), CAST(N'2023-01-01' AS Date), N'GTK804', 1, 1)
INSERT [dbo].[Polizas] ([Id], [IdTomador], [FechaInicio], [FechaFin], [FechaVencimiento], [PlacaAutomotor], [IdCiudad], [Estado]) VALUES (3, 2, CAST(N'2022-01-01' AS Date), CAST(N'2022-12-12' AS Date), CAST(N'2022-12-24' AS Date), N'HZQ127', 1, 1)
INSERT [dbo].[Polizas] ([Id], [IdTomador], [FechaInicio], [FechaFin], [FechaVencimiento], [PlacaAutomotor], [IdCiudad], [Estado]) VALUES (4, 2, CAST(N'2023-01-01' AS Date), CAST(N'2023-12-31' AS Date), CAST(N'2022-12-31' AS Date), N'HZQ127', 1, 1)
SET IDENTITY_INSERT [dbo].[Polizas] OFF
GO
SET IDENTITY_INSERT [dbo].[Tomador] ON 

INSERT [dbo].[Tomador] ([Id], [Nombre], [Apellido], [Documento], [Tipo], [Direccion], [Telefono], [Estado]) VALUES (1, N'JORGE', N'AYALA', N'1070008899', N'CC', N'CARRERA 11A E 25-89', N'3045454999', 1)
INSERT [dbo].[Tomador] ([Id], [Nombre], [Apellido], [Documento], [Tipo], [Direccion], [Telefono], [Estado]) VALUES (2, N'Camilo', N'Gomez', N'1070008888', N'CC', N'Calle Falsa 123', N'304858587', 1)
SET IDENTITY_INSERT [dbo].[Tomador] OFF
GO
ALTER TABLE [dbo].[Polizas]  WITH CHECK ADD  CONSTRAINT [FK_Polizas_Ciudades] FOREIGN KEY([IdCiudad])
REFERENCES [dbo].[Ciudades] ([Id])
GO
ALTER TABLE [dbo].[Polizas] CHECK CONSTRAINT [FK_Polizas_Ciudades]
GO
ALTER TABLE [dbo].[Polizas]  WITH CHECK ADD  CONSTRAINT [FK_Polizas_Tomador] FOREIGN KEY([IdTomador])
REFERENCES [dbo].[Tomador] ([Id])
GO
ALTER TABLE [dbo].[Polizas] CHECK CONSTRAINT [FK_Polizas_Tomador]
GO
USE [master]
GO
